{% assign new-experiences = site.data.data.new-experiences %}
{% if new-experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in new-experiences %}
  <div class="item">
    <ul>
      <li>
        <div class="company">
          <u>
            <a href="{{ experience.link }}">
              <span style="color: brown; ">{{ experience.company }}</span>
            </a>
          </u>
        </div>
      </li>
    </ul>
    {% for position in experience.positions %}
    <div class="meta">
      <div class="upper-row">
        <ul><ul><li><div class="job-title">{{ position.role }}</div></li></ul></ul>
      <div class="time">{{ position.time }}</div>
      </div><!--//upper-row-->
    </div><!--//meta-->

    {% endfor %}
    <div class="work" style="text-align: justify">
      {{ experience.work }}
    </div>
    {% if %experience.news %}
    <div class="company-news" style="text-align: justify">
      <b><i>News</i></b>
      <div class="item">
        {% for update in experience.news %}
          <ul><li>{{update}}</li></ul>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

