{% assign research-interests = site.data.data.research-interests %}
{% if research-interests %}
<section class="section research-interests-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-star fa-stack-1x fa-inverse"></i>
    </span>
    Research Interests
  </h2>

  <div class="research-interests-title">
    <ul>
      {{ research-interests.title }}
    </ul>
  </div>
</section><!--//section-->
{% endif %}
